.header_container {
  display: flex;
  height: 450px;
  width: 100%;
  background-color: #23253A;
  padding: 30px;
}

.social_icons {
  /* Style your social icons here */
}

.content {
  flex-grow: 1;
  padding: 20px;
  width: 60%;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.buttons button {
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}
.buttons1{
  background-color: #232236;
  border: 1px solid salmon;
}
.buttons2 {
  margin-left: 5px;
  background-color: #FC4C4B;
}
.header_image{
  width: 40%;
}

.image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}