.main {
  width: 100%;
  background-color: #1F2235;
  color: white;
  display: flex;
  justify-content: center;
  height: 1500px;
}

.main_div {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

